{% extends "base.html" %}

{% block title %}Expense App{% endblock  %}

{% block body %}

<div class=" d-block ">
    {% if messages %}
        {% for message in messages %}
            <span class="message-js alert alert-{{message.tags}} px-5 position-absolute start-50">{{message}}</span>
        {% endfor %}
    {% endif %}
</div>

<div class="container">
    <h2 class="text-center text-light mt-5">Expense App</h2>
    <div class="row">
        <div class="col-sm-4">
            <h4 class="text-center alert alert-primary">Add Expense</h4>
            <form action="{% url "add_expense" %}" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-success align-item-center" type="submit">Add Expense</button>
            </form>
        </div>
        <div class="col-sm-8">
            <h4 class="text-center alert alert-primary">Show Expense Information</h4>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Sr.No</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Category</th>
                        <th scope="col">Description</th>
                        <th scope="col">Date</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in expense %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{i.amount}}</td>
                            <td>{{i.category}}</td>
                            <td>{{i.description}}</td>
                            <td>{{i.date}}</td>
                            <td>
                                <a href="delete/{{i.id}}/" class="btn btn-danger btn-sm" type="button">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock  %}